{% extends 'base.html.twig' %}

{% block title %} Koszyk {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/cart.css') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid cart-container">
        <div class="row">
            <div class="col">
                <div class="cart-title">
                    <h2>Koszyk</h2>
                </div>
                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }}">
                        {% for message in messages %}
                            <span>{{ message }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <table class="cart-table-wrapper">
                    <thead>
                    <tr>
                        <th class="item"><span>Produkt</span></th>
                        <th class="price"><span>Cena</span></th>
                        <th class="qty"><span>Ilość</span></th>
                        <th class="subtotal"><span>Zamówienie</span></th>
                        <th class="actions"><span>Akcje</span></th>
                    </tr>
                    </thead>

                    {% set subtotal = 0 %}

                    {% for item in cart %}
                        {% set subtotal = subtotal + item['product'].basePrice * item['quantity'] %}
                        <tbody class="cart-item">
                        <tr>
                            <td data-th="Produkt" class="item">
                                <div class="product-item">
                                    <a href="/product/{{ item['product'].slug }}" class="product-item-photo">
                                        <figure>
                                            <img src="{{ item['product'].image }}" alt="{{ item['product'].name }}"/>
                                        </figure>
                                    </a>
                                    <div class="product-item-details">
                                        <strong class="product-item-name">
                                            <a href="/product/{{ item['product'].slug }}"> {{ item['product'].name }} </a>
                                        </strong>
                                    </div>
                                </div>
                            </td>
                            <td class="product-item-price" data-th="Cena">
                                <span class="cart-price">
                                    <span> {{ item['product'].basePrice }} </span>
                                </span>
                            </td>
                            <td class="product-item-qty" data-th="Ilość">
                                <div class="qty">
                                    <label class="label" for="cart-{{ item['product'].id }}">
                                        <span>Ilość</span>
                                    </label>
                                    <input id="cart-{{ item['product'].id }}" name="cart[{{ item['product'].id }}][qty]"
                                           value="{{ item['quantity'] }}" type="number" size="4" title="Ilość">
                                </div>
                            </td>
                            <td class="product-item-subtotal subtotal" data-th="Zamówienie">
                                <span class="cart-price">
                                    <span> {{ item['product'].basePrice * item['quantity'] }} </span>
                                </span>
                            </td>
                            <td class="product-item-actions actions" data-th="Akcje">
                                <div>
                                    <a href="/cart/{{ item['product'].id }}/remove">Usuń</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid subtotal-container">
        <div class="row">
            <div class="col">
                <div class="cart-subtotal">
                    <div class="cart-subtotal-title">
                        <h2>Podsumowanie</h2>
                    </div>
                    <div class="cart-subtotal-wrapper">
                        <strong>Razem do zapłaty: {{ subtotal }}</strong>
                        <div class="cart-subtotal-code" data-collapsible="true" role="tablist">
                            <div class="code-title" data-role="title" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">
                                <strong role="heading" aria-level="2">
                                    Zastosuj kod rabatowy
                                </strong>
                            </div>
                            <div data-role="content" aria-labelledby="block-discount-heading" role="tabpanel" aria-hidden="true" style="display: none;">
                                <input type="text" placeholder="Wprowadź kod rabatowy" name="cart-coupon-code">
                                <button type="submit" class="btn btn-info">
                                    Zastosuj zniżkę
                                </button>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary cart-subtotal-button">
                        <strong>
                            Przejdź do kasy
                        </strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}